# Archivos de Python
*.pyc
__pycache__/

# Base de datos SQLite
db.sqlite3

# Archivos de entorno (contraseñas)
.env

# Carpetas de entornos virtuales
venv/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/